body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  margin-bottom: 50px;
  background-color:#f4f4f4;
  height: 100%;
  /* display: flex; */
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.data {
  height: 100%;
}

.newContainer{
  width:95%;
  margin:auto;
  overflow:hidden;
}

.newContainer h3{
  color: #2098C6;
}

.newContainer h1 {
  color: #35424a;
}

.newContainer2 {
  margin: auto;
}

#cs_table {
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
  margin-bottom: 10px;
}

#dataTable {
  display: table;
  table-layout:auto;
}

#dataTable th, #dataTable td {
  border: 1px solid black;
}

#dataTable th {
  text-align: center;
  padding: 5px;
}

#chart_div {
  height: 400px;
  width: 90%;
  margin: 10px;
}

.deletebtn{
  padding: 15px;
  background: #b20000;
  color: white;
  border: none;
}

table tr td {
  text-align: center;
  padding: 5px;
}

.newContainer .txt {
  padding: 15px;
  width: 166px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.newContainer radio {
  padding: 5px;
  width: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.newContainer label {
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.newScientistbtns {
  height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #35424a;
  border: 1px solid #35424a;
  color: white;
  width: 200px;
  font-weight: bold;
}

.register_user {
  height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #2098C6;
  border: 1px solid #2098C6;
  color: white;
  width: 200px;
  font-weight: bold;
}

.justifyme{
  text-align: justify;
}

/* .justifyme ul {
  padding: 10px;
} */

/* .justifyme ul li::before {
  color: #2098C6;
} */

.container img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login_div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 150px;
}

#login_div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

#login_div input:focus {
  border: 1px solid #777;
}

#login_div .btn {
  display: inline-block;
  border: 1px solid #2098C6;
  border-radius: 5px;
  background: #2098C6;
  padding: 15px;
  outline: none;
  color: #fff;
  width: 108%; 
  -webkit-appearance: none;
}

#login_div .btn:hover {
  background: #35424a;
  border: 1px solid #35424a;
  cursor: pointer;
}

#heatmap {
  height: 400px;
  width: 90%;
  margin: 10px;
}

/*#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}*/

/* ul{
  margin:0;
  padding:0;
} */

#about {
  padding-top: 20px;
}

.justifyme ul {
  list-style: none;
}

.justifyme ul li::before {
  content: "•";
  color: #2098C6;
  display: inline-block; width: 1em;
  margin-left: -1em
}

.contact {
  padding: 10px;
  background:#35424a;
  color:#ffffff;
  text-align: center;
}

.contact h3 {
    color: #2098C6;
}

.button_1{
  height:38px;
  background:#2098C6;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding: 20px;
  padding-right: 50px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  text-align: justify;
}

.dark2 {
  margin: 10px;
  padding: 20px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  text-align: justify;
}

.dark h3 {
  color: #2098C6;
}

/* Header **/
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 50px;
  border-bottom:#2098C6 3px solid;
  position: fixed;
  width: 100%;
  z-index: 3;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#2098C6;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:200px;
  background:url('../img/showcase2.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:30px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  height:150px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  position: fixed;
  display: inline;
  bottom: 0;
  width: 100%;
  height: 50px;
  color:#ffffff;
  background-color:#2098C6;
  text-align: center;
  line-height: 50px;
  z-index: 2;
}

body {
  font-family: "Lato", sans-serif;
}

.loggedin {
  margin: 0;
  padding: 0;
  border: 0;
}

.profile_img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.user_info{
  color: #f4f4f4;
  text-align: center;
  
}

.user_info p {
  font-size: 12px;
  color: #2098C6;
  margin-top: -15px;
  margin-bottom: 50px;
}

.dataclass {
  margin-top: 125px;
}

.acc_btns {
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #2098C6;
  background-color: #f4f4f4;
  color: #2098C6;
  font-weight: bold;
}

.acc_btns:hover {
  cursor: pointer;
  background-color: #2098C6;
  color: #f4f4f4;
}

.user_info .logout {
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #2098C6;
  background-color: #2098C6;
  color: #f4f4f4;
  font-weight: bold;
}

.user_info .logout:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  color: #2098C6;
}

.crop_img {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 0px 3px 10px #2a2a2a;
  margin-top: 125px;
}

.side_nav {
  /* background-color: #35424a;
  position: fixed;
  height: 100%;
  width: 15%; */
  width: 15%;
  height: 100%;
  background: #35424a;
  position: fixed;
  opacity: 1;
  z-index: 1;
}

.right {
  /* float: right;
  width: 85%; */
  width: 85%;
  height: auto;
  position: absolute;
  right: 0;
  margin-top: 100px;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
